.About {
    text-align: left !important;
    margin-top: 30px;
    margin-left: 15%;
    margin-right: 15%;
}

.About--Title {
    font-size: 30px;
    font-weight: bold;
    color: #2b283a;
}

.About--Content {
    font-size: 18px;
    font-weight: normal;
    color: #4a4e74;
}